@model SysAdminLogin.Models.UserCheckin

@{
    ViewData["Title"] = "Check-in";

}

<!-- Api:et finns kvar för denna funktion men vyn används inte längre på systemadmin sidan. -->

<h1>Checka in</h1>
<hr />
<div class="row">
    <div class="col-md-4 table table-dark">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Username</label><br />
                @Html.EditorFor(model => model.EmployeeId)
                <span asp-validation-for="EmployeeId" class="alert-danger"></span>

                <div class="form-group">
                    <input type="submit" value="Verifiera" class="btn btn-light" />
                    <a asp-action="Index" class="btn btn-light">Tillbaka</a>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}